{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Школа художественной гимнастики "Грация"</title>
    <!-- style -->
    <link rel="stylesheet" href="{% static 'src/styles/style.css' %}">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <!--  script  -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imask"></script>
</head>
<body>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <nav>
            <ul>
                <li><a href="{% url 'core:about' %}">О нас</a></li>
                <li><a href="{% url 'core:news' %}">Новости</a></li>
                <li><a href="{% url 'core:reviews' %}">Отзывы</a></li>
                <li><a href="{% url 'core:contacts' %}">Контакты</a></li>
            </ul>
        </nav>
        <a class="header-phone" href="tel:+79376695297">+7 (937) 669-52-97</a>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Оставить отзыв</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form class="modal-body">
                <div class="inputs">
                    <label>
                        <input type="text" data-ajaxType="name" class="required" placeholder="Ваше имя *">
                    </label>
                    <label>
                        <input type="text" data-ajaxType="text" class="required" placeholder="Отзыв">
                    </label>
                </div>
                <div class="btn-section">
                    <div class="btn send-btn" data-type="reviews">Отправить</div>
                    <span>Нажимая кнопку отправить вы соглашаете с <a href="/privacy/">политикой обработки персональных данных</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
<header>
    <div class="header-container container">
        <a href="/" class="logo"><img src="{% static 'src/images/logo.svg' %}" alt=""></a>
        <nav>
            <ul>
                <li><a href="{% url 'core:about' %}">О нас</a></li>
                <li><a href="{% url 'core:news' %}">Новости</a></li>
                <li><a href="{% url 'core:reviews' %}">Отзывы</a></li>
                <li><a href="{% url 'core:contacts' %}">Контакты</a></li>
            </ul>
        </nav>
        <a class="header-phone" href="tel:+79376695297">+7 (937) 669-52-97</a>
        <div class="burger" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
             aria-controls="offcanvasExample">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 9.33337H24M8 16H24M8 22.6667H24" stroke="black" stroke-width="2" stroke-linecap="square"/>
            </svg>
        </div>
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <div class="container footer-container">
        <div class="top-footer">
            <nav>
                <ul>
                    <li><a href="{% url 'core:about' %}">О нас</a></li>
                    <li><a href="{% url 'core:news' %}">Новости</a></li>
                    <li><a href="{% url 'core:reviews' %}">Отзывы</a></li>
                    <li><a href="{% url 'core:contacts' %}">Контакты</a></li>
                </ul>
            </nav>
            <div class="up">Наверх <img src="{% static 'src/images/icons/Arrow%20up.svg' %}" alt=""></div>
        </div>
        <div class="bottom-footer">
            <a href="{% url 'core:index' %}" class="logo"><img src="{% static 'src/images/logo.svg' %}" alt=""></a>
            <a href="/privacy/" class="privacy">Политика конфиденциальности</a>
        </div>
    </div>
</footer>
<input type="hidden" name="csrf" value="{{ csrf_token.csrf_token }}">
<!-- scripts -->
<script src="{% static 'src/scripts/app.js' %}" type="module"></script>
</body>
</html>
