{% extends '_base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="news-section">
            <div class="container news-container">
                <div class="title">Отзывы</div>
                <div class="content">
                    {% for review in reviews %}
                        <div class="item-n">
                            <div class="title">{{ review.name }}</div>
                            <div class="text">{{ review.text|safe }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% include 'components/recall-form.html' %}
{% endblock %}